#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#textAboutMe {
  text-align: left;
}

.fixeda {
  display: flex;
  justify-content: center;
}

.taskCard {
  padding: 9vh 10vw;
  border: 1px solid rgb(228, 228, 228);
  background: linear-gradient(145deg, #ffffff, #ececec);
  box-shadow:  30px 30px 34px #9f9f9f,
             -30px -30px 34px #ffffff;
             width: max-content;
  border-radius: 10px;
  margin: 4vh 0%;
  width: 100%;
  text-align: left;
}

.taskCard [role="button"] {
  width: 200px;
  margin: 5px 0px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
